/* PILL BUTTON */
.pill-button {
    height: var(--header-height);
    width: var(--two-header-divs);
    border: var(--border-width) var(--black) solid;
    margin-bottom: var(--header-height);
    border-radius: var(--header-height);
    font-size: 1em;
    font-weight: 100;
    font-size: var(--large-paragraph-font-size);
}

.pill-button:hover {
    color: var(--white);
    background-color: var(--blue);
    border: none;
}

.pill-button-small {
    height: var(--header-height);
    width: 280px;
    height: 80px;
    background-color: var(--blue);
    margin-bottom: var(--header-height);
    border-radius: 100px;
    font-size: 1em;
    font-weight: 400;
}

.pill-button-small:hover {
    color: var(--white);
    background-color: var(--deep-blue);
    border: none;
}