/* HEADER */

header {
    position: fixed;
    top: 0;
    width: 100vw !important;
    background: var(--white);
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    z-index: 10;
}

header.off-black {
    background: var(--off-black);
    color: var(--white);
    border: none;
    border-left: 0 !important;
}

header.off-black .a {
    color: var(--white);
}

header.off-black .header-item {
    border: var(--border-width) var(--white) solid;
    border-top: none !important;
}

.no-border-right {
    border-right: none !important;
}

.no-border-left {
    border-left: none !important;
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    border: var(--border-width) var(--black) solid;
    border-top: none;
    border-left: none !important;
    text-align: center;
    gap: 50px;
}

.header-item:last-child,
header.off-black .header-item:last-child {
    border-right: none !important;
}

/* FOOTER */

footer {
    bottom: 0;
    width: 100vw;
    height: var(--header-height);
    z-index: 10;
}

