section.white {
    width: 100vw;
    background-color: var(--white) !important;
    padding-bottom: var(--header-height);
    z-index: 3;
}

section.blue {
    background-color: var(--blue);
}

section {
    width: 100vw;
    background-color: var(--white);
    z-index: 3 !important;
}

.small-section {
    width: 100vw;
    z-index: -1 !important;
}