.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .margin-bottom {
    margin-bottom: var(--margin-bottom);
} */

.margin-top {
    margin-top: var(--header-height);
}

.margin-bottom {
    margin-bottom: var(--header-height);
}

.small-margin-bottom {
    margin-bottom: var(--paragraph-font-size);
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.margin-bottom-large {
    margin-bottom: 40px;
}

.one-third {
    width: var(--one-third) !important;
}

.two-thirds {
    width: var(--two-thirds) !important;
}

.no-bottom-border {
    border-bottom: none !important;
}

.no-left-border {
    border-left: none !important;
}

.no-right-border {
    border-right: none !important;
}

.bottom-border {
    border-bottom: var(--black) var(--border-width) solid !important;
}

.row {
    display: flex;
    flex-direction: row !important;
}

.gap {
    gap: var(--header-height) !important;
}

.space-between {
    display: flex;
    width: 100%;
    justify-content: space-between !important;
}

.absolute {
    position: absolute;
    z-index: 5;
}

.z-index-1 {
    z-index: 1;
}

.double-header-height {
    height: var(--double-header-height);
}

.svg-height {
    height: 237px;
}