.arrow {
    position: absolute;
    width: 41px;
    height: 40px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 40"><path d="M12.415 18.9946C11.8628 18.9946 11.415 19.4423 11.415 19.9946C11.415 20.5469 11.8628 20.9946 12.415 20.9946L12.415 18.9946ZM28.7364 20.7017C29.1269 20.3112 29.1269 19.678 28.7364 19.2875L22.3724 12.9236C21.9819 12.533 21.3488 12.533 20.9582 12.9236C20.5677 13.3141 20.5677 13.9472 20.9582 14.3378L26.6151 19.9946L20.9582 25.6515C20.5677 26.042 20.5677 26.6752 20.9582 27.0657C21.3488 27.4562 21.9819 27.4562 22.3724 27.0657L28.7364 20.7017ZM12.415 20.9946L28.0293 20.9946L28.0293 18.9946L12.415 18.9946L12.415 20.9946Z" fill="black"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transition: var(--ease-time) ease all;
}