:root {
    --margin-left: 10%;
    --margin-left-large: 15%;
    --margin-left-larger: 20%;
    --margin-bottom: 1rem;
    --margin: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: system-ui;
    cursor: default;
    width: 80%;
}

h1 {
    font-size: 2rem;
    margin: calc(var(--margin) * 2) 0 var(--margin-bottom) var(--margin-left);
}

h2 {
    font-size: 1.5rem;
    margin: 0 0 var(--margin-bottom) var(--margin-left);
}

h3 {
    font-size: 1.25rem;
    margin: 0 0 var(--margin-bottom) var(--margin-left-large);
}

p {
    margin: 0 0 var(--margin-bottom) var(--margin-left);
}
