/* PARALLAX */

.parallax-container {
    position: relative;
    display: inline-block;
}

#parallax-text {
    position: relative;
    z-index: 2;
}

.parallax-dot-one {
    position: absolute;
    /* top: 60%; */
    /* left: 50%; */
    width: 20px;
    height: 20px;
    background-color: var(--blue);
    border-radius: 50%;
    animation: orbit 2s linear infinite;
}
