.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 100;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: var(--ease-time) ease all;
}

.blur.active {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    opacity: 1;
}