/* PILL BUTTON */
.pill-button {
    height: var(--header-height);
    width: 25vw;
    /* var this */
    border: var(--border-width) black solid;
    margin-bottom: var(--header-height);
    border-radius: 100px;
    /* not precise */
    font-size: 1em;
    font-weight: 100;
}

.pill-button:hover {
    color: white;
    background-color: #f9f;
    border: none;
}

.pill-button-small {
    height: var(--header-height);
    width: 280px;
    height: 80px;
    background-color: var(--blue);
    /* border: var(--border-width) black solid; */
    margin-bottom: var(--header-height);
    border-radius: 100px;
    /* not precise */
    font-size: 1em;
    font-weight: 400;
}

.pill-button-small:hover {
    color: white;
    background-color: var(--deep-blue);
    border: none;
}