.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    background-color: var(--white);
}

.margin {
    width: calc(100vw - 200px);
    align-self: center;
}

.three-column {
    grid-template-columns: 1fr 1fr 1fr;
}

.four-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.span-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column: span 2;
}

.grid-item {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: var(--header-height);
    border: var(--border-width) var(--black) solid;
    border-left: none;
    text-align: center;
    line-height: var(--header-height);
    /* font-size: 1em; */
    font-weight: 100;
}

.grid-item:last-child {
    border-right: none;
}

.grid-item-black {
    background-color: var(--black);
    height: var(--header-height);
    text-align: center;
    line-height: var(--header-height);
    font-size: 1em;
    font-weight: 100;
    color: var(--white);
}

.large-vertical-column-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: var(--triple-header-height);
    border: var(--border-width) var(--black) solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
    line-height: var(--header-height);
    font-weight: 100;
}

.large-vertical-column-item.blue:hover span {
    color: var(--blue);
}

.large-vertical-column-item.orange:hover span {
    color: var(--orange);
}

.large-vertical-column-item.pink:hover span {
    color: var(--pink);
}

.large-vertical-column-item span {
    font-family: lexend-semi;
    font-size: var(--big-header-font-size);
}

.large-vertical-column {
    margin-top: var(--header-height);
    margin-bottom: var(--header-height);
    display: flex;
    flex-direction: column;
    width: var(--two-thirds);
    background-color: var(--white);
}

.large-vertical-column-item:last-child {
    border-bottom: var(--border-width) var(--black) solid;
}

.vertical-column {
    margin-top: var(--header-height);
    margin-bottom: var(--header-height);
    display: flex;
    flex-direction: column;
    width: var(--two-header-divs);
    background-color: var(--white);
}

.vertical-column-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: var(--header-height);
    border: var(--border-width) var(--black) solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
    line-height: var(--header-height);
    font-size: 1em;
    font-weight: 100;
}

.vertical-column-item:last-child {
    border-bottom: var(--border-width) var(--black) solid;
}

.vertical-column-item:hover .circle {
    background-color: var(--blue);
}

/* HOVERABLE GRID ITEMS */

.hoverable-item.active,
.hoverable-item-deep-blue.active {
    background-color: var(--blue);
    border-bottom: none;
}

.hoverable-item:hover {
    background-color: var(--blue);
}

.hoverable-item-pink:hover {
    background-color: var(--pink);
}

.hoverable-item-orange:hover {
    background-color: var(--orange);
}

.hoverable-item-purple:hover {
    background-color: var(--light-purple);
}

.hoverable-item-cyan:hover {
    background-color: var(--cyan);
}

.hoverable-item-green:hover {
    background-color: var(--green);
}

.hoverable-item-light-green:hover {
    background-color: var(--light-green);
}

.hoverable-item-red:hover {
    background-color: var(--red);
}

.hoverable-item-deep-blue:hover {
    background-color: var(--deep-blue);
}