.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--black);
    border-radius: 10px;
}

.image:hover {
    transform: scale(0.99);
    border-radius: 15px;
}

.waves-image {
    position: absolute;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    background-image: url("../waves.jpg");
    background-size: cover; 
    background-position: center; 
}