body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(
        to bottom,
        transparent 0%, 
        transparent calc(var(--header-height) - var(--border-width)), 
        var(--black) calc(var(--header-height) - var(--border-width)), 
        var(--black) calc(var(--header-height)),
        transparent calc(var(--header-height) - var(--border-width)),
        transparent 100% 
    );
    height: 100vh; 
    /* border: var(--black) var(--stroke-weight) solid; */
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        transparent 0%, 
        transparent calc(var(--header-height) - var(--border-width)), 
        var(--black) calc(var(--header-height) - var(--border-width)), 
        var(--black) calc(var(--header-height)),
        var(--black) 100%
    );
    height: 300px;
}