.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .margin-bottom {
    margin-bottom: var(--margin-bottom);
} */

.margin-top {
    margin-top: var(--header-height);
}

.margin-bottom {
    margin-bottom: var(--header-height);
}

.no-margin-bottom {
    margin-bottom: none !important;
}

.no-padding-bottom {
    padding-bottom: none !important;
}

.margin-bottom-large {
    margin-bottom: 40px;
}

.one-third {
    width: var(--one-third) !important;
}

.two-thirds {
    width: var(--two-thirds) !important;
}

.no-bottom-border {
    border-bottom: none !important;
}

.row {
    flex-direction: row;
}

.gap {
    gap: 100px !important;
}