:root {
    --header-height: 90px;
    --border-width: 1.5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.1s ease all;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><circle cx="10" cy="10" r="10" fill="%239f0"/></svg>') 10 10, none;
}

body {
    overflow-x: hidden;
    padding-top: var(--header-height);
    background: linear-gradient(to bottom, #09f, #fcf, #f90);
    font-size: 1em;
    font-weight: 100;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><circle cx="10" cy="10" r="10" fill="%239f0"/></svg>') 10 10, none;
}

header,
header * {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><circle cx="10" cy="10" r="10" fill="%239f0"/></svg>') 10 10, none !important;
}

/* SCROLLBAR */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: transparent;
    height: 200vh;
}

body::-webkit-scrollbar-thumb {
    background: #000;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    width: 100vw;
    background: white;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
    z-index: 10;
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    border: var(--border-width) black solid;
    border-top: none;
    border-left: none;
    text-align: center;
    gap: 50px;
}

.header-item:not(:first-child) {
    border-left: none;
}

.header-item:last-child {
    border-right: none;
}

/* TEXT */

h1 {
    font-weight: 500;
    font-size: 1.5em;
}

h2 {
    font-weight: 500;
    font-size: 1.2em;
}

p {
    font-weight: 300;
    font-size: 1em;
}

strong {
    font-weight: 500;
    color: #09f;
}

strong.red {
    font-weight: 500;
    color: #f00;
}

.huge-text {
    font-size: 5em;
    font-weight: 600;
}

h1.section-title {
    border-bottom: var(--border-width) solid black;
    padding-bottom: 4px;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 50px;
}

p.paragraph {
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 1.1em;
}

/* TEXT HOVER STATES */

p.hoverable:hover {
    color: #09f;
}

p.hoverable-white:hover {
    color: #fff;
}

p.hoverable-underline {
    position: relative;
    display: inline-block;
}

p.hoverable-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: var(--border-width);
    background-color: #000;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.1s ease;
}

.underline-parent:hover p.hoverable-underline::after {
    opacity: 1;
    transform: scaleX(1);
}

/* SECTION */

section.white {
    margin-top: 100vh;
    width: 100vw;
    background-color: white;
    padding-bottom: var(--header-height);
}

/* CENTERED */

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boardered {
    border: var(--border-width) black solid;
}

.boardered-white {
    border: var(--border-width) white solid;
}

.full-frame {
    width: 100vw;
    height: 100vh;
}

.spacer {
    height: var(--header-height);
    width: 100vw;
}

/* IMAGE */

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000;
    border-radius: 10px;
}

.image:hover {
    transform: scale(0.99);
    border-radius: 15px;
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    background-color: white;
}

.margin {
    width: calc(100vw - 200px);
    align-self: center;
}

.gap {
    gap: 100px;
}

.three-column {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
    height: var(--header-height);
    border: var(--border-width) black solid;
    border-left: none;
    text-align: center;
    line-height: var(--header-height);
    font-size: 1em;
    font-weight: 100;
}

.grid-item-black {
    background-color: black;
    height: var(--header-height);
    text-align: center;
    line-height: var(--header-height);
    font-size: 1em;
    font-weight: 100;
    color: white;
}

.vertical-grid {
    margin-top: var(--header-height);
    margin-bottom: var(--header-height);
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 25vw;
    background-color: white;
}

.vertical-grid-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: var(--header-height);
    border: var(--border-width) black solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
    line-height: var(--header-height);
    font-size: 1em;
    font-weight: 100;
}

.vertical-grid-item:last-child {
    border-bottom: var(--border-width) black solid;
}

.vertical-grid-item:hover .circle {
    background-color: #09f;
    transition: 0.1s ease all;
}

/* HOVERABLE GRID ITEM */

.hoverable-item:hover {
    background-color: #09f;
}

.hoverable-item-pink:hover {
    background-color: #fcf;
}

.hoverable-item-orange:hover {
    background-color: #f90;
}

/* PILL BUTTON */

.pill-button {
    height: var(--header-height);
    width: 25vw;
    /* var this */
    border: var(--border-width) black solid;
    margin-bottom: var(--header-height);
    border-radius: 100px;
    /* not precise */
    font-size: 1em;
    font-weight: 100;
}

.pill-button:hover {
    color: white;
    background-color: #f9f;
    border: none;
}

/* SVG ICON & CIRCLE */

.svg-icon {
    position: absolute;
    width: 41px;
    height: 40px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 40"><path d="M12.415 18.9946C11.8628 18.9946 11.415 19.4423 11.415 19.9946C11.415 20.5469 11.8628 20.9946 12.415 20.9946L12.415 18.9946ZM28.7364 20.7017C29.1269 20.3112 29.1269 19.678 28.7364 19.2875L22.3724 12.9236C21.9819 12.533 21.3488 12.533 20.9582 12.9236C20.5677 13.3141 20.5677 13.9472 20.9582 14.3378L26.6151 19.9946L20.9582 25.6515C20.5677 26.042 20.5677 26.6752 20.9582 27.0657C21.3488 27.4562 21.9819 27.4562 22.3724 27.0657L28.7364 20.7017ZM12.415 20.9946L28.0293 20.9946L28.0293 18.9946L12.415 18.9946L12.415 20.9946Z" fill="black"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

/* ORBIT */

.orbit-container {
    position: relative;
    display: inline-block;
}

#orbit-text {
    position: relative;
    z-index: 2;
}

.orbit {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #09f;
    border-radius: 50%;
    animation: orbit 2s linear infinite;
}

@keyframes orbit {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(35px);
        z-index: 3;
    }

    25% {
        z-index: 1;
    }

    50% {
        z-index: 1;
    }

    75% {
        z-index: 1;
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(35px);
        z-index: 3;
    }
}

/* BLUR */

.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 100;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0.2;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.2s ease;
}

.blur.active {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    opacity: 1;
}

/* FOOTER */

footer {
    bottom: 0;
    width: 100vw;
    height: var(--header-height);
    background-color: red;
    z-index: 10;
}